.WrapTestimonialGrid {
  margin: 0px auto !important;
  max-width: 1200px;
  .TestimonialTitle{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 80px 0px;
    color: white;
    background-color: #0b0b85;
    margin: 40px 0px;
  }
  .BlogBlock {
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-evenly;
    transition: 1s;
    position: relative;
    min-height: 180px;
    cursor: pointer;
    // &:hover {
    //   border-right: 2px solid #fff;
    //   background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
    // }
    a:hover {
      color: #0b0b85;
    }
    img {
      height: auto;
      width: 100%;
    }
    .Content {
      padding: 40px 16px;
      background: rgba(235, 235, 235, 0.8);
      width: 100%;
      position: absolute;
      bottom: 0;
      &:after {
        content: ",,";
        font-size: 48px;
        right: 40px;
        position: absolute;
        top: -24px;
        border: solid 4px #0b0b85;
        background:  rgba(235, 235, 235, 0.8);
        border-radius: 100%;
        width: 40px;
        height: 40px;
        text-align: center;
        z-index: 2;
        line-height: 0px;
        font-family: fantasy;
      }
      .Title {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
      }
      .ContentText {
        overflow: hidden;
        max-height: 140px;
        text-overflow: ellipsis;
        font-size: 16px;
        p {
          margin-bottom: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3; /* number of lines to show */
          -webkit-box-orient: vertical;
        }
      }
      .ContentDate {
        padding-top: 0px;
        color: #666;
        text-align: right;
        height: 32px;
        line-height: 40px;
      }
      img {
        display: none;
      }
    }
  }
}
