.WrapSliderBlock {
  padding-top: 128px;
  .WrapSliderItem {
    height: 320px;
    text-align: center;
    display: flex !important;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .SliderTitle {
    // text-shadow: 3px 3px #ccc;
    color: #0b0b85;
    font-weight: bold;
    font-size: 32px;
  }
  h3 {
    margin: 0px auto ;
    color: #0b0b85;
    padding: 20px 60px;
    max-width: 960px;
  }
  :global(.slick-slider) {
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
  }
  :global(.slick-prev) {
    left: 10px;
    z-index: 999;
    &:before {
      color: #0b0b85;
    }
  }
  :global(.slick-next) {
    right: 10px;
    &:before {
      color: #0b0b85;
    }
  }
  :global(.slick-dots) {
    bottom: 20px;
  }
  @media (max-width:768px) {
    .WrapSliderItem {
      height: 480px;
    }
  }
}
