.WrapBlogDetail {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 120px;
  position: relative;

  .HeadImage {
    width: 100%;
    max-width: 520px;
  }

  .Content {
    background: rgba(220, 220, 220, 0.8);
    padding: 20px;
    position: absolute;
    top: 160px;
    left: 320px;
    width: calc(100% - 320px);
  }

  .ContentDate {
    float: right;
  }

  .ContentText {
    padding-top: 80px;
    font-size: 18px;
    padding: 40px;
  }

  :global(.wp-block-image) {
    margin: auto;
    text-align: center;
    padding: 16px;

    img {
      height: auto;
      max-width: 100%;
    }
  }

  @media (max-width:768px) {
    .Content {
      padding: 10px;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
    }
  }
}