.WrapAboutUsBlock {
  max-width: 1200px;
  margin: auto;
  padding-top: 80px;
  position: relative;
  overflow: hidden;
  .PersonImage {
    width: 100%;
  }
  &:after {
    transition: 1s;
    content: "";
    width: 70%;
    background-image: url('/contactus.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    height: 100%;
    right: -200px;
    z-index: -1;
    opacity: 0.2;
  }
  Button,
  Button:hover {
    border-radius: 0;
    background-color: #0b0b85;
    color: white;
    font-weight: bold;
    border: none;
  }
  .PersonBlock {
    display: flex;
    flex-direction: column;
    padding: 20px;
    img {
      border-radius: 100%;
    }
    .Name {
      padding-top: 20px;
      width: 100%;
      font-size: 18px;
      text-align: center;
      color: #0b0b85;
      font-style: italic;
    }
    .Text {
      max-width: 200px;
      padding-top: 20px;
      margin: auto;
      width: 100%;
      text-align: center;
      color: #0b0b85;
      font-size: 16px;
      font-weight: bold;
      font-style: italic;
    }
  }
  .ContentBlock {
    padding-left: 40px;

    .Title {
      border-top: solid 4px #2b303a;
      font-size: 32px;
      font-weight: bold;
      color: #0b0b85;
      padding-top: 80px;
      width: fit-content;
      padding-bottom: 40px;
    }
    .ContentText {
      font-size: 18px;
      font-style: italic;
      color: #0b0b85;
      margin-bottom: 20px;
    }
  }
}
