.WrapRecruiterCandidate {
  max-width: 1200px;
  padding-top: 160px;
  padding-bottom: 40px;
  margin: auto;
  .Image {
    width: 100%;
  }
  .WrapContent {
    padding: 60px;
    &:hover {
      .Title {
        // text-shadow: 3px 3px #000;
      }
    }
    &:after {
      transition: 1s;
      content: "";
      width: 0%;
      background-color: #888;
      position: absolute;
      top: 0;
      height: 100%;
      left: 0;
      z-index: -1;
    }
    &:hover:after {
      width: 100%;
    }
    Button {
      border-radius: 0;
      background-color: #0b0b85;
      color: white;
      font-weight: bold;
      border: none;
    }
    .Title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 24px;
      color: #0b0b85;
      cursor: pointer;
      // text-shadow: 3px 3px #ccc;
    }
    .Text {
      padding-bottom: 24px;
      font-size: 16px;
      cursor: pointer;
    }
  }
  @media (max-width:768px) {
    .WrapContent{
      padding: 20px;
    }
  }
}
