@import "~antd/dist/antd.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "Balow";
  src: url("/Barlow/Barlow-Regular.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Balow, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  color: #0b0b85;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

*table6`9 {
  box-sizing: border-box;
}